
.jobreport-update{ background-color:#ddd; }

body #jobreport-preview .jobreport-items table tbody td.description span{
    color: #d1d3ea !important;
}

.customers.viewjobreport #wrapper {
    margin-left: 0;
}

@media (max-width: 1430px){
    .customers.viewjobreport .panel_s {
        width: 100%;
    }
}

.table-bordered{
    border: 1px solid #000;
}

.table-jobreport-items th, .table-jobreport-items td {
  padding: 15px;
}